<h1>App post</h1>
<form action='/posts/' method='post'>
  <input type='text' name='title' />
  <br />
  <textarea name='description'></textarea>
  <br />
  <textarea name='markdown'></textarea>
  <br />
  <button type='submit'>Submit</button>
</form>